/*
 * http://www.color-hex.com/color/a2bdbe
 * green-light: #a2bdbe
 * green-dark: #759d9f
 */

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    letter-spacing: .3px;
    line-height: 1.5;
}

hr {
    max-width: 50px;
    border-color: #759d9f;
    font-weight: 400;
    border-width: 3px;
}

hr.light {
    border-color: #fff;
}

hr.dark {
    border-color: #333;
}

a {
    color: #759d9f;
    font-weight: 400;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #a2bdbe;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 35px;
}

h1,
h2 {
    font-weight: 600;
}

h3 {
    font-weight: 300;
}

p {
    line-height: 1.8;
}

.text-strong {
    font-weight: 600;
}

.text-italic {
    font-style: italic;
}

.inline-block {
    display: inline-block;
}

.bg-header {
    background: transparent url(../img/bg-cover.jpg) no-repeat 50% 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    position: relative;
    padding: 150px 0;
}

#story.bg-header {
    background-image: url(../img/bg-story.jpg);
    background-position: 50% 50%;
}

#travel.bg-header {
    background-image: url(../img/bg-travel.jpg);
    background-position: 50% 20%;
}

#gifts.bg-header {
    background-image: url(../img/bg-gifts.jpg);
}

#rsvp.bg-header {
    background-image: url(../img/bg-rsvp.jpg);
}

.bg-header .container {
    position: relative;
    z-index: 100;
}

.bg-header h2 {
    color: #fff;
}

.bg-header h3 {
    color: #ddd;
}

.bg-secondary {
    background: #eee;
}

.bg-dark {
    color: #fff;
    background: #222;
}

section {
    padding: 100px 0;
}

section h2 {
    color: #759d9f;
    font-weight: 400;
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

.navbar-default {
    background: #fff;
    border-color: rgba(34,34,34,.05);
    box-shadow: none;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.navbar-default .navbar-header .navbar-brand .logo-white {
    display: block;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.navbar-default .navbar-header .navbar-brand .logo-black {
    display: none;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.navbar-default .nav>li>a,
.navbar-default .nav>li>a:focus {
    color: #222;
    text-shadow: none;
    text-transform: uppercase;
}

.navbar-default .nav>li>a:hover,
.navbar-default .nav>li>a:focus:hover,
.navbar-default .nav>li.active>a,
.navbar-default .nav>li.active>a:focus,
.navbar-default .nav>li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover,
.navbar-default.affix-top .nav>li.active>a:hover {
    color: #759d9f !important;
    background: transparent;
    box-shadow: none;
}

@media(min-width:768px) {
    .navbar-default {
        background: transparent;
        border-color: transparent;
    }

    .navbar-default .navbar-header .navbar-brand {
        color: rgba(255,255,255,.7);
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #fff;
    }

    .navbar-default .navbar-header .navbar-brand img {
        width: 180px;
    }

    .navbar-default .nav>li>a,
    .navbar-default .nav>li>a:focus {
        color: rgba(255,255,255,.7);
        padding: 30px 20px;
    }

    .navbar-default .nav>li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #fff;
    }

    .navbar-default .nav>li>a.modal {
        border: 1px solid white;
        border-radius: 3px;
        margin: 20px;
        padding: 10px 20px;
    }

    .navbar-default .nav>li>a.modal:hover {
        background: #fff;
        color: #759d9f;
        font-weight: 400;
    }

    .navbar-default.affix {
        border-color: rgba(34,34,34,.05);
        background: #fff;
        box-shadow: 1px 1px 5px #666;
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 18px;
        color: #759d9f;
        font-weight: 400;
        padding: 15px;
    }

    .navbar-default.affix .navbar-header .navbar-brand .logo-white {
        display: none;
        -webkit-transition: all .35s;
        -moz-transition: all .35s;
        transition: all .35s;
    }

    .navbar-default.affix .navbar-header .navbar-brand .logo-black {
        display: block;
        -webkit-transition: all .35s;
        -moz-transition: all .35s;
        transition: all .35s;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #a2bdbe;
    }

    .navbar-default.affix .navbar-header .navbar-brand img {
        width: 80px;
    }

    .navbar-default.affix .nav>li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #222;
        padding: 15px 20px;
    }

    .navbar-default.affix .nav>li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #759d9f;
        font-weight: 400;
    }

    .navbar-default.affix .nav>li>a.modal {
        background: #759d9f;
        font-weight: 400;
        border: 0;
        border-radius: 3px;
        color: #fff;
        margin: 5px 15px;
        padding: 10px 25px;
    }

    .navbar-default.affix .nav>li>a.modal:hover {
        background: #a2bdbe;
        color: #fff !important;
    }

    .navbar-default.affix-top .nav>li.active>a {
        color: rgba(255,255,255,.7) !important;
    }

    .hotel-description {
        min-height: 50px;
    }
}

@media(max-width:830px) and (min-width:768px) {
    .navbar-default .nav>li>a {
        padding: 30px 15px;
    }

    .navbar-default .nav>li>a.modal {
        margin: 20px 10px;
    }
}

@media(max-width:767px) {
    .navbar-default .navbar-header .navbar-brand .logo-white {
        display: none;
    }

    .navbar-default .navbar-header .navbar-brand .logo-black {
        display: block;
        width: 90px;
    }

    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 45px;
    }
}

header {
    background-image: url(../img/bg-cover.jpg);
    background-attachment: scroll;
    background-position: 50% 0;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    color: #fff;
    display: table;
    min-height: auto;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
    position: relative;
    height: 100vh;
    z-index: 0;
}

.color-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
    z-index: 99;
}

header video {
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}

header .header-content {
    display: table-cell;
    position: relative;
    vertical-align: middle;
    z-index: 100;
}

header .header-content h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
}

header .header-content h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

header .header-content hr {
    margin: 30px auto;
}

header .header-content p {
    color: #ccc;
    margin-bottom: 0;
}

#wedding .map-container img {
    width: 100%;
}

#wedding .input-group {
    width: 100%;
    max-width: 405px;
}

.row-story {
    margin-bottom: 25px;
}

.row-story p {
    line-height: 1.8;
    margin-bottom: 20px;
}

.wedding-party-container {
    margin-top: 25px;
}

@media(max-width: 767px) {
    #wedding .input-group {
        max-width: 360px;
    }
}

#gifts h3 {
    margin-top: 0;
}

#gifts h4 {
    color: #a2bdbe;
    font-family: 'Raleway', sans-serif;
    margin: 25px 0;
}

.gifts .btn-gift {
    border-radius: 3px;
    width: 150px;
}

.gifts .btn-gift:hover {
    opacity: 0.7;
}

.gifts .paypal {
    background: #0070ba;
    padding: 7px 16px;
}

.gifts .venmo {
    background: #3d95ce;
    padding: 11px 16px;
}

.text-primary {
    color: #759d9f;
    font-weight: 400;
}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.btn-default {
    background: #fff;
    border: 1px solid #fff;
    color: #222;
    text-shadow: none;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    border-color: #fff;
    background: #fff;
}

.btn-default .badge {
    color: #fff;
    background: #222;
}

.btn-primary {
    background: #759d9f;
    font-weight: 400;
    border-color: #759d9f;
    font-weight: 400;
    color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background: #a2bdbe;
    border-color: #a2bdbe;
    color: #fff;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #759d9f;
    font-weight: 400;
    background: #759d9f;
    font-weight: 400;
}

.btn-info {
    background: #fff;
    border: 2px solid #759d9f;
    box-shadow: none;
    color: #759d9f;
    font-weight: bold;
    text-shadow: none;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open>.dropdown-toggle.btn-info {
    background: #759d9f;
    border-color: #759d9f;
    color: #fff;
}

.btn {
    font-size: 16px;
    text-transform: uppercase;
}

.btn-xl {
    margin-top: 50px;
    padding: 15px 30px;
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}

footer {
    background: #eee;
    color: #666;
    overflow: hidden;
    padding-top: 50px;
}

footer .container {
    width: auto;
}

footer p {
    margin-bottom: 0;
}

.copyright {
    border-top: 1px solid #ccc;
    font-size: 12px;
    margin-top: 50px;
    padding: 15px 0;
}

.modal-title {
    font-size: 24px;
}

.modal-header {
    background: #a2bdbe;
    color: #fff;
}

.modal-body .form-group > label {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.modal-body .radio {
    margin-top: 0;
}

.modal-footer {
    background: #eee;
}