<div id="response" class="bg-header">
    <div class="color-overlay"></div>
    <div class="container text-center">
        <h2>Thank you for responding</h2>
        <hr>
        <h3>See you on March 11, 2017 @4pm!</h3>
    </div>
    <div class="header-content">
        <h1>Thanks <span class="nameModal"></span> for your response!</h1>
        <h2>See you on Saturday, March 11, 2017 @4pm!</h2>
        <h2 class="hidden">Sorry you can't attend, but hopefully we'll see you soon!</h2>
        <h3><a href="mailto:davidgumzchoi@gmail.com">Email us</a> to change your response</h3>
        <div class="call-to-action">
            <button class="btn btn-primary btn-xl" data-toggle="modal" data-target="#modal">Button</button>
        </div>
    </div>
</div>