<header>
    <div class="color-overlay"></div>
    <figure>
        <video playsinline autoplay muted loop poster="img/bg-cover.jpg">
            <source src="video/engagement.mp4" type="video/mp4">
        </video>
    </figure>
    <div class="header-content">
        <h1>David &amp; Jean</h1>
        <h2>March 11, 2017 @ 4pm</h2>
        <hr>
        <p>Serra Plaza in San Juan Capistrano, CA</p>
        <p>Please tag all photos with <strong>#SURCHOI</strong></p>
        <div class="call-to-action">
            <a class="btn btn-primary btn-xl" data-toggle="modal" data-target="#modal">RSVP</a>
        </div>
    </div>
</header>
<section id="wedding">
    <div class="container">
        <div class="row text-center">
            <h2>We're getting married!</h2>
            <hr>
            <h3>Come dance with us</h3>
        </div>
        <div class="row">
            <div class="col-sm-6 map-container">
                <a href="https://www.google.com/maps/place/Serra+Plaza/@33.4973605,-117.6672808,17z/data=!3m1!4b1!4m5!3m4!1s0x80dcf1e9ace04265:0xa4e6f3939f94f14f!8m2!3d33.4973605!4d-117.6650921" target="_blank"><img border="0" src="http://maps.googleapis.com/maps/api/staticmap?center=31910+Del+Obispo+St+%23125%2C+San+Juan+Capistrano%2C+CA+92675&markers=color:red%7C31910+Del+Obispo+St+%23125%2C+San+Juan+Capistrano%2C+CA+92675&zoom=11&size=600x400" alt="Serra Plaza, Del Obispo Street #125, San Juan Capistrano, CA"></a>
            </div>
            <div class="col-sm-6">
                <h3>SERRA PLAZA</h3>
                <p><a href="https://www.google.com/maps/place/Serra+Plaza/@33.4973605,-117.6672808,17z/data=!3m1!4b1!4m5!3m4!1s0x80dcf1e9ace04265:0xa4e6f3939f94f14f!8m2!3d33.4973605!4d-117.6650921" target="_blank">31910 Del Obispo Street #125<br>San Juan Capistrano, CA</a></p>
                <p><strong>3/11/17 @ 4pm</strong></p>
                <br>
                <p>Use this form to get directions on Google Maps:</p>
                <div class="form-group">
                    <form class="form-inline" role="form" name="directions" action="http://maps.google.com/maps" method="get" target="_blank">
                        <input type="hidden" name="daddr" value="Serra Plaza, Del Obispo Street #125, San Juan Capistrano, CA">
                        <input type="hidden" name="hl" value="en">
                        <div class="input-group">
                            <input type="text" name="saddr" id="saddr" value="" class="form-control" placeholder="Enter your address">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="about" class="bg-header">
    <div class="color-overlay"></div>
    <div class="container text-center">
        <h2>This is who I am</h2>
        <hr>
        <h3>Hello there</h3>
    </div>
</div>
<section class="bg-secondary">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 text-center">
                <img src="img/something.png"/>
                <h3>Hello there</h3>
                <p>Something I don't know</p>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <img src="img/something.png"/>
                <h3>Hello there</h3>
                <p>Something I don't know</p>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <img src="img/something.png"/>
                <h3>Hello there</h3>
                <p>Something I don't know</p>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <img src="img/something.png"/>
                <h3>Hello there</h3>
                <p>Something I don't know</p>
            </div>
        </div>
    </div>
</section>
<div id="accommodations" class="bg-header">
    <div class="color-overlay"></div>
    <div class="container text-center">
        <h2>Lay down your head.</h2>
        <hr>
        <h3>These cozy hotels will treat you well</h3>
    </div>
</div>
<section>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-sm-4">
                <a class="portfolio-box" href="#">
                    <img class="img-responsive" src="img/portfolio/1.jpg" alt=""/>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">Activity?</div>
                            <div class="project-name">Name Something</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a class="portfolio-box" href="#">
                    <img class="img-responsive" src="img/portfolio/2.jpg" alt=""/>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">Activity?</div>
                            <div class="project-name">Name Something</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a class="portfolio-box" href="#">
                    <img class="img-responsive" src="img/portfolio/3.jpg" alt=""/>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">Activity?</div>
                            <div class="project-name">Name Something</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row no-gutter">
            <div class="col-sm-4">
                <a class="portfolio-box" href="#">
                    <img class="img-responsive" src="img/portfolio/4.jpg" alt=""/>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">Activity?</div>
                            <div class="project-name">Name Something</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a class="portfolio-box" href="#">
                    <img class="img-responsive" src="img/portfolio/5.jpg" alt=""/>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">Activity?</div>
                            <div class="project-name">Name Something</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a class="portfolio-box" href="#">
                    <img class="img-responsive" src="img/portfolio/6.jpg" alt=""/>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">Activity?</div>
                            <div class="project-name">Name Something</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<div id="gifts" class="bg-header">
    <div class="color-overlay"></div>
    <div class="container text-center">
        <h2>Don't give us gifts</h2>
        <hr>
        <h3>Give us money</h3>
    </div>
</div>
<div id="rsvp" class="bg-header">
    <div class="color-overlay"></div>
    <div class="container text-center">
        <h2>Please RSVP</h2>
        <hr>
        <h3>Thanks!</h3>
    </div>
</div>