<header>
    <div class="color-overlay"></div>
    <figure>
        <video playsinline autoplay muted loop poster="img/bg-cover.jpg">
            <source src="video/engagement.mp4" type="video/mp4">
        </video>
    </figure>
    <div class="header-content">
        <h1>David &amp; Jean</h1>
        <hr>
        <h2>Are Getting Married!</h2>
        <div class="call-to-action">
            <a class="btn btn-primary btn-xl" data-toggle="modal" data-target="#modal">RSVP</a>
        </div>
    </div>
</header>

<!--

TODO ITEMS
Write Our meeting Story from both perspectives section
Wedding Party - Names
Create a separate page as alternate response when google form submits, indicating their name as a response
Refactor and decrease image size remove comments and unused css

-->

<section id="wedding">
    <div class="container text-center">
        <div class="row">
            <h2>Tying the knot</h2>
            <hr>
            <h3>Come dance with us</h3>
        </div>
        <div class="row">
            <div class="col-sm-5 col-sm-offset-1">
                <h3><strong>SERRA PLAZA</strong></h3>
                <p><a href="https://www.google.com/maps/place/Serra+Plaza/@33.4973605,-117.6672808,17z/data=!3m1!4b1!4m5!3m4!1s0x80dcf1e9ace04265:0xa4e6f3939f94f14f!8m2!3d33.4973605!4d-117.6650921" target="_blank">31910 Del Obispo Street #125<br>San Juan Capistrano, CA</a></p>
            </div>
            <div class="col-sm-5">
                <h3><strong>MARCH 11, 2017</strong></h3>
                <p><strong>@4:00pm</strong>. Please be prompt<br>And dress to impress!</p>
            </div>
        </div>
    </div>
</section>
<div id="about" class="bg-header">
    <div class="color-overlay"></div>
    <div class="container text-center">
        <h2>Our Story</h2>
        <hr>
        <h3>How you doin?</h3>
    </div>
</div>
<section class="bg-secondary">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                David picture here
            </div>
            <div class="col-sm-7">
                <h3>How we met</h3>
                <p>I was living in San Francisco at the time and I came down to visit on 10/3/2014. I went to Wolf &amp; Crane for Stella's birthday gathering and I saw my beautiful Jean out yonder. I pointed at her and signaled her to come hither. I told her my usual really hilarious jokes and she laughed and laughed and laughed. She was clearly digging the gums. She even did the whole hitting my arm thing practically screaming, "you're the funniest guy I've ever met in my entire life" and of course she felt the guns and realized I wasn't just funny, but that my body was no accident.</p>
                <p>Surpisingly, we really hit it off and her patience to my ridiculous sense of humor and her beautiful smile and genuine kindness made me so happy. And I realized that I must move back to LA. With random confidence I told her, "We're going to go on three dates and you're going to fall in love with me..." And HA! It actually worked! After driving/flying from SF to LA every 2 weeks and Facetiming everyday in between we made it through 7 months of long distance. Finally we were living in the same city playing, eating, and laughing together every day. And to this day I still get the same joy and excitement anticipating our day's first hug and sweet little kisses.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-7">
                <h3>How we really met</h3>
                <p>I was living in San Francisco at the time and I came down to visit on 10/3/2014. I went to Wolf &amp; Crane for Stella's birthday gathering and I saw my beautiful Jean out yonder. I pointed at her and signaled her to come hither. I told her my usual really hilarious jokes and she laughed and laughed and laughed. She was clearly digging the gums. She even did the whole hitting my arm thing practically screaming, "you're the funniest guy I've ever met in my entire life" and of course she felt the guns and realized I wasn't just funny, but that my body was no accident.</p>
                <p>Surpisingly, we really hit it off and her patience to my ridiculous sense of humor and her beautiful smile and genuine kindness made me so happy. And I realized that I must move back to LA. With random confidence I told her, "We're going to go on three dates and you're going to fall in love with me..." And HA! It actually worked! After driving/flying from SF to LA every 2 weeks and Facetiming everyday in between we made it through 7 months of long distance. Finally we were living in the same city playing, eating, and laughing together every day. And to this day I still get the same joy and excitement anticipating our day's first hug and sweet little kisses.</p>
            </div>
            <div class="col-sm-5">
                Jean Picture Here
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-sm-5">
                A nice image
            </div>
            <div class="col-sm-7 text-center">
                <h3>The Proposal</h3>
                <hr>
                <h4>JUNE 04, 2016</h4>
                <p>It didn't take me long for me to know that Jean was the one and so I bought the ring in Jan 2016. I wanted to surprise her even though she was always threatening to propose to me first. Next step was to ask her dad for permission to marry my Jean. I called my go to fob, Richard Lee, and he prepped me for some solid Korean. I wrote out, rehearsed, and practiced my Korean speech and I was ready. I had some spontaneous dinner with Mr. Sur and Jean's brother, Brandon. And all of a sudden, Mr. Sur had to bounce as I was just barely getting started on my 6th slice of pizza. As he was getting into his car, I ran outside, pizza crumbs all over my face and crushed red peppers in between all my teeth and delivered my speech... In the absolutely worst Korean imaginable. And he gave me his blessing! Luckily he didn't give me a hug or touch my body because I was emitting so much heat and sweating everywhere.</p>
                <p>It was time to propose! It was her birthday weekend so I had a "romantic brunch" for her prepared at Newport Beach. We "arrived early" so we went for a "spontaneous walk" along the pier. Almost got to the spot, but I forgot the ring! Jean wanted some water and suggested we just go early, but nervously I rejected her request and awkwardly asked her to wait just a second while I ran to the car. Got the ring as it protruded out of my pants. Took her to the binoculars by the pier where her brother and cousin, Jana, were waiting holding a sign that said "Will you marry David?" Again I had an amazing speech prepared, but couldn't mutter the words. Luckily Jean intervened and said "Yes yes of course I'll marry you!"</p>
                <p>We went back home where I had "actually prepared food" and had our dearest friends from home and all around the country fly in to surprise Jean and celebrate our engagement! Once we got upstairs, Jean couldn't help but cry tears of Joy ;) overwhelmed by her beloved friends.</p>
            </div>
        </div> -->
    </div>
</section>
<div id="accommodations" class="bg-header">
    <div class="color-overlay"></div>
    <div class="container text-center">
        <h2>Lay down your head</h2>
        <hr>
        <h3>These nearby hotels will treat you well</h3>
    </div>
</div>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <p class="text-center"><em>We recommend flying into John Wayne Airport (SNA)</em></p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-5 col-sm-offset-1 clearfix">
                <h3>Anaheim Hotels</h3>
                <p class="hotel-description">15 min from SNA, next to our home, and 40 min from venue!</p>
                <a class="btn btn-info pull-right" href="https://www.google.com/maps/search/hotels/@33.8201032,-117.9227002,14z">Find Anaheim Hotel</a>
            </div>
            <div class="col-sm-5 clearfix">
                <h3>Hilton Orange County</h3>
                <p class="hotel-description">Right by SNA, and 25 minutes from venue!</p>
                <a class="btn btn-info pull-right" href="https://www.google.com/travel/clk?pc=dgAAAMFOAdHh_JpmaQjSL9kB7StR7IF7pECNtgcf3LTZi3HFv6RpBIjdK3PeSLu052B4B9HQYFq_8jJTy1Hurma-PAIxCxccNTl7iBLEDnubEK8I6HkoBoaJFnydRH6po_I7RayjOryy65cnF4AR9C2k_HFosGos4dtSyd6z3Vrq6x8J">Book Hotel near SNA</a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-5 col-sm-offset-1 clearfix">
                <h3>Best Western Capistrano Inn</h3>
                <p class="hotel-description">5 minutes, 1.3 miles from venue! 25 minutes from SNA</p>
                <a class="btn btn-info pull-right" href="http://www.booking.com/hotel/us/san-juan-capistrano-27174-ortega-highway.html?aid=391687;utm_source=seogooglelocal;utm_medium=photo;utm_term=hotel-333755_photo-13392543">Book Hotel near Serra Plaza</a>
            </div>
            <div class="col-sm-5 clearfix">
                <h3>San Juan Capistrano Airbnb</h3>
                <p class="hotel-description">Book with your friends and family and stay in San Juan Capistrano</p>
                <a class="btn btn-info pull-right" href="https://www.airbnb.com/s/San-Juan-Capistrano--CA--United-States?guests=2&adults=2&children=0&infants=0&place_id=ChIJ9wxgAUTt3IARk42-Je8q6BY&checkin=03%2F10%2F2017&checkout=03%2F12%2F2017&ss_id=gwqmn15w&source=bb&page=1&allow_override%5B%5D=&s_tag=PTQp5oQX">Find Airbnb near Serra Plaza</a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <p class="text-center"><em>Wherever you end up staying, please don't drink and drive.<br>Carpool and designate a driver!</em></p>
            </div>
        </div>
    </div>
</section>
<div id="gifts" class="bg-header">
    <div class="color-overlay"></div>
    <div class="container text-center">
        <h2>Don't give us gifts</h2>
        <hr>
        <h3>Give us money</h3>
    </div>
</div>
<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h3>We know traveling can be expensive so your presence at the wedding is plenty</h3>
                <h3>But if you would like you can help us fund our honeymoon.</h3>
                <br>
                <h3>Here's how you can give us money:</h3>
                <h4>– 1 –</h4>
                <p>Hand deliver a thoughtful card and a big check to us at the wedding</p>
                <h4>– 2 –</h4>
                <p>Contribute to our marriage through <a href="http://paypal.me/davidgumzchoi">PayPal</a> or <a href="http://www.venmo.com/davidgumzchoi">Venmo</a></p>
            </div>
        </div>
    </div>
</section>
<div id="rsvp" class="bg-header">
    <div class="color-overlay"></div>
    <div class="container text-center">
        <h2>Please RSVP</h2>
        <hr>
        <h3>Thanks!</h3>
        <div class="call-to-action">
            <a class="btn btn-primary btn-xl" data-toggle="modal" data-target="#modal">RSVP</a>
        </div>
    </div>
</div>