<footer id="gifts">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center">
				<h3>We know traveling can be expensive, and your presence at the wedding is plenty, but why stop there</h3>
				<h3>We don't need anything in particular, except money. Lots of it.</h3>
				<br>
				<h3>Here's how you can give us money:</h3>
				<h4>– 1 –</h4>
				<p>Hand deliver a thoughtful card and a big check to us at the wedding</p>
				<h4>– 2 –</h4>
				<p>Contribute to our marriage through <a href="http://paypal.me/davidgumzchoi">PayPal</a> or <a href="http://www.venmo.com/davidgumzchoi">Venmo</a></p>
			</div>
		</div>
	</div>
	<div class="copyright col-xs-12 text-center">&copy; Copyright 2016. Developed by <a href="http://davidschoi.com">davidschoi</a>. All rights reserved.</div>
</footer>