<div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <form action="https://docs.google.com/forms/d/e/1FAIpQLSce-Y8UerOJ0JP2WnzyosLFFQjnVGU4ZyAn8ZL0nOrmo8xQaQ/formResponse" method="POST" role="form" target="_blank">
        <input type="hidden" name="pageNumber" value="0">
        <input type="hidden" name="backupCache" value="">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 id="myModalLabel" class="modal-title">Contact Us</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="entry.140860861">Name*</label>
                        <input class="form-control" type="text" name="entry.140860861" value="" placeholder="Hodor">
                    </div>
                    <div class="form-group">
                        <label for="entry.1838171586">Email*</label>
                        <input class="form-control" type="text" name="entry.1838171586" value="" placeholder="doesntlook@likeanything.tome">
                    </div>
                    <div class="form-group">
                        <label for="entry.1624099299">Who is your +1?</label>
                        <input class="form-control" type="text" name="entry.1624099299" value="" placeholder="My sexy date is...">
                    </div>
                    <div class="form-group">
                        <label for="entry.455583310">Make us laugh or cry</label>
                        <textarea class="form-control" rows="5" cols="75" name="entry.455583310" value="" placeholder="Hahahaha wahhhh"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>